.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: min-content;
    display: cover;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;

}

.lips {
    max-width: 100%;
    height: 35vh;
    overflow: hidden;
    border-radius: 40px;
}

.bomb {
    font-family: 'Dancing Script', cursive;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-size: 80px;
}

.subhead {
    font-family: 'Raleway', sans-serif;
}

.page {
    text-align: center;
}