.heading {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}

.wrapper {
    text-align: center;
}

.info {
    font-family: 'Raleway', sans-serif;
}

.bottom {
    font-family: 'Dancing Script', cursive;
}