.card {
    width: 250px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;

}

.item-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.head {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}

#abutton {
    background-color: rgb(133, 27, 64);
    border-color: maroon
}