.nav {
    min-height: 60px;
    font-family: 'Raleway', sans-serif;
    align-items: center;
    max-width: 80%
}

.nav-item {
    color: rgb(250, 143, 118);
    text-align: center;
}

.nav-item:hover {
    color: rgb(233, 130, 107);
}

a {
    text-decoration: none !important;
}

.bomb {
    font-family: 'Dancing Script', cursive;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    margin: 0;
}

.nav-title {
    width: 300px;
}