.nav {
    background-color: #64090e;
    min-height: 60px;
    font-family: 'Raleway', sans-serif;
    align-items: center;
    max-width: 80%
}

.nav-item {
    color: white;
    text-align: center;
}

.bomb {
    font-family: 'Dancing Script', cursive;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    margin: 0;
}