.nav {
    min-height: 60px;
    font-family: 'Raleway', sans-serif;
    align-items: center;
    max-width: 80%
}



.col {
    padding: 0 !important;
    margin: 0 !important;
}

.nav-item {
    color: rgb(255, 106, 95);
    text-align: center;
    text-shadow: -1px 1px #ccc;
}

.nav-item:hover {
    color: rgb(218, 100, 79);
}

a {
    text-decoration: none !important;
}

.title:hover {
    box-shadow: 0 2px 10 black;
}

.bomb {
    font-family: 'Dancing Script', cursive;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    margin: 0;
    color: black;
    text-shadow: -1px 2px #ccc;

}

.nav-title {
    width: 200px;
}

@media only screen and (max-width: 576) {
    .nav :nth-child(3) {
        order: -1;
    }

    /* 
    .nav {
        flex-direction: column;
    } */
}