.links {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    color: brown;
    margin: 15px;
}

.item:hover {
    color: palevioletred;
    text-decoration: none;
}