.links {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 80%;
}

.product-type-div {
    width: 150px;
    height: 150px;
    background: rgb(255, 106, 95);
    margin-top: 5px;
    /* line-height: 20; */
    margin: 15px;
}

.item {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    line-height: 4.5;
}

.item:hover {
    color: palevioletred;
    text-decoration: none;
}