.links {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 80%;
}

.product-type-div {
    width: 150px;
    height: 150px;
    background: rgba(255, 106, 95, 0.906);
    margin-top: 5px;
    /* line-height: 20; */
    margin: 15px;
    box-shadow: 1px 3px 10px #aaa;
    transition: 300ms ease-in-out;
}

.item {
    color: #ffffff;
    font-size: 26px;
    text-align: center;
    line-height: 5.5;
}

.item:hover {
    text-decoration: none;
    color: black;
}

.product-type-div:hover {
    transform: scale(1.1);
}